
.container {
  max-width: 800px;
  background-color: #efefef;
}

a:hover {
  text-decoration: none;
}
.btn-group-vertical {
  max-width: 100%;
}
#friendSelect .btn {
  max-width: 100%;
  overflow: hidden;
}
.username {
    /*margin-right: 1em;*/
    cursor: pointer;
}

.friended {
    font-weight: 800;
}

.username:hover {
    color:#286090;
}
.username:hover::before{
    content:'+ ';
}

.time {
  font-style: italic;

}
.chat {
  padding: 0.5em;
  border-bottom: 1px solid #CCC;
  word-wrap: break-word;
}

#add-room, .dropdown {
  display:inline-block;
}

#add-room {
  display:none;
}

#message {
  margin-bottom: 0.5em;
}
body.wait{
    cursor: url(http://static.tumblr.com/qjv9goj/duUlzoulz/ajax-loader.gif), wait;
}

body.wait *{
    cursor: inherit;
}